<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>TV SHows</title>
	<link rel="stylesheet" href="app.css"/>
  </head>
  <body>

	<nav>
		<a href="/episodes">Episodes</a>
		<a href="/shows">Shows</a>
		<a href="/settings">Settings</a>
	</nav>
	
    <div id="container">
			<%= yield %>
    </div>

  </body>
</html>
